__pycache__
.hypothesis
.coverage*
.eggs/**
.mypy_cache
.pytest_cache
.tox
build/**
dist/**
docs/build/**
htmlcov/**
*.egg-info/**
.idea
*.pyc

**/tests/data
nvjpeg_numcodecs/_version.py
nvjpeg_numcodecs/_nvjpeg.cpp
nvjpeg_numcodecs/_nvjpeg*.so
